@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 130px;
	border: solid 1px #000;
	line-height: 130px;
	text-align: center;
}

.menu {
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	height: 50px;	
	border: solid 1px #000;
}

.menu ul {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #000;
}

.menu ul li {
	margin-left: 25px;
	list-style: none;
	display: inline;
}

.menu ul li a {
	text-decoration: none;
	color: #c3c3cc;
}

.menu ul li a:hover {
	color: #fff;
	font-weight: bold;
}

.content {
	width: 100%;
	height: 600px;
	border: solid 1px #000;
	
}

.left {
	width: 350px;
	height: 600px;
	border: solid 1px #000;
	float: left;
}

.right {
	width: 640px;
	height: 600px;
	border: solid 1px #000;
	float: right;
}

.right > table {
	border-collapse: collapse;
	text-align: center;
}

.clear {
	clear: both;
}

.footer {
	width: 100%;
	height: 40px;
	border: solid 1px #000;
}