@charset "utf-8";

* {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 180px;
	border: solid 1px #000;
}

.menu {
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	height: 50px;
	border: solid 1px #000;	
}

.menu ul {	
	text-align: left;
	list-style: none;
	background:  #001133;

}

.menu ul li {
	margin-left: -5px; /* Sở dĩ kiểu float mình không có margin-left: -5px là vì cái 5px kia là kiểu display: inline-block nó tự sinh ra nên phải xóa nó đi bằng cách này. */
	color: #fff;
	width: 120px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	text-align: center;
}

.menu ul li a:hover {
	background: #F1F1F1;
	color: #333;
	font-weight: bold;
}

.content {
	width: 100%;
	height: 600px;
	border: solid 1px #000;
	
}

.left {
	width: 200px;
	height: 600px;
	/*border: solid 1px #000;*/
	float: left;
}

.right {
	width: 790px;
	height: 600px;
	/*border: solid 1px #000;*/
	float: right;
}

.sanpham {
	text-align: center; 
	color: #ffc; 
	background: #004d26; 
	padding: 10px;
}

.danhsachsanpham ul {
	width: 100%;
	height: 200px;
	list-style: none;
}

.danhsachsanpham ul li {
	margin: 10px 5px 5px 15px;
}

.danhsachsanpham ul li a {
	text-decoration: none;
	color: #000;
}

.danhsachsanpham ul li a:hover {
	font-weight: bold;
	color: red;
}

.tatcasanpham {
	width: 100%;
	height: 200px;
}

.tatcasanpham ul li {
	width: 150px;
	height: 200px;
	/*border: solid 1px #c3c3c3;*/
	text-align: center;
	list-style: none;
	float: left;
	margin: 15px;
	padding: 10px 0;
}

.clear {
	clear: both;
}

.footer {
	width: 100%;
	height: 80px;
	border: solid 1px #000;
	background: #001133;
}